table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-articleTitle {
  width: 50%;
}

td.mat-column-sortNumber {
  width: 10%;
  padding-right: 7% !important;
  text-align: right;
}

.link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.position {
  width: 30px;
}

