.toolbar {
  padding-left: 8%;
  height: 64px;
}

.link {
  color: white;
  text-decoration: none;
}

.app-logo {
  height: 50px;
}

.top-link {
  border-radius: 0;

  .link-underline {
    height: 2px;
    width: 0%;
    background-color: white;
  }

  &.active .link-underline {
    width: 100%;
    transition: width linear .3s;
  }
}
