<section class="section">
  <span class="list-section">
    <mat-checkbox class="checkbox-margin"
                  [checked]="allSelect"
                  [color]="treeItem.color"
                  [indeterminate]="someSelect()"
                  (change)="setAll($event.checked)">
      {{treeItem.name}}
    </mat-checkbox>
  </span>
  <span class="list-section">
    <ul>
      <li *ngFor="let subItem of treeItem.treeSubItem">
        <mat-checkbox [(ngModel)]="subItem.selected"
                      [color]="subItem.color"
                      (ngModelChange)="updateAllSelect()">
          {{subItem.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>
