<aside class="aside">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree"
            *ngIf="dataSource.data.length > 0; else loading">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>

      <button mat-icon-button disabled></button>
      <span class="side-link" (click)="showArticle(node.id)">{{node.name}}</span>

    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle [disabled]="emptyChild(node)"
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </div>

      <div [class.tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>

    </mat-nested-tree-node>

  </mat-tree>

</aside>

<ng-template #loading>
  <p>Loading....</p>
</ng-template>
