<div class="page-container" [class.is-mobile]="breakpointService.isMobile">
  <mat-toolbar color="primary" class="toolbar">
    <div>
      <img class="app-logo" src="../../assets/angular-white-transparent.svg">
    </div>

    <button mat-icon-button (click)="breakpointService.showSidenav=!breakpointService.showSidenav">
      <mat-icon>menu</mat-icon>
    </button>


    <nav>
      <a class="top-link" mat-button routerLink="/angular" routerLinkActive="active">Angular
        <div class="link-underline"></div>
      </a>
      <a class="top-link" mat-button routerLink="/rxjs" routerLinkActive="active">RxJs
        <div class="link-underline"></div>
      </a>
      <a class="top-link" mat-button routerLink="/angular-material" routerLinkActive="active">Material
        <div class="link-underline"></div>
      </a>
      <a class="top-link" mat-button routerLink="/admin/add" routerLinkActive="active">Admin
        <div class="link-underline"></div>
      </a>
    </nav>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav [(opened)]="breakpointService.showSidenav" [mode]="breakpointService.sidenavMode"
                 [fixedInViewport]="breakpointService.isMobile" fixedTopGap="56">

      <app-side-nav></app-side-nav>

    </mat-sidenav>

    <mat-sidenav-content>
      <app-main-content [article]="article"></app-main-content>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
