.page-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .toolbar {
    padding-left: 8%;
  }

  .app-logo {
    height: 50px;
  }

  .sidenav-container {
    margin: 0 8%;
    flex: 1;
  }

  .top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

     .top-link {
      border-radius: 0;

      .link-underline {
        height: 2px;
        width: 0%;
        background-color: white;
      }

      &.active .link-underline {
        width: 100%;
        transition: width linear .3s;
      }
    }
  }
}

.is-mobile {

  .toolbar {
    position: fixed;
    z-index: 2;
  }

  .sidenav-container {
    flex: 1 0 auto;
    margin: 64px 0;
  }
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}


