<div class="page-container">

  <h2 class="title">Add/edit Categories</h2>

  <table class="table  mat-elevation-z8" mat-table *ngIf="dataSource" [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td class="name-td" mat-cell *matCellDef="let name">
        <mat-form-field class="name">
          <input matInput [formControl]="namesGroup.controls[name.id]" [name]="name.id"
                 (keyup.enter)="updateCategoryName($event, namesGroup.controls[name.id])">
          <mat-error *ngIf="namesGroup.controls[name.id].invalid">Category name is required</mat-error>
        </mat-form-field>
      </td>

    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position</th>
      <td class="position-td" mat-cell *matCellDef="let position">
        <mat-form-field class="position">
          <input matInput [formControl]="positionsGroup.controls[position.id]"
                 [name]="position.id"
                 (keyup.enter)="updateCategoryPosition($event, positionsGroup.controls[position.id])">
          <mat-error *ngIf="positionsGroup.controls[position.id].invalid">Category position is required</mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


</div>
