.page-container {
  max-width: 900px;
  margin: 20px auto;

  .title-container {
    display: flex;
    justify-content: space-between;
  }

  .table {
    width: 100%;

    .name-td {
      width: 90%;
    }

    .position-td {
      width: 10%;
    }

    .name {
      width: 95%;
    }

    .position {
      width: 50px;
    }
  }

  .btn-add {
    display: block;
    margin: 10px 20px 10px auto;
  }

  .new-form {
    width: 100%;
  }

  .new-fields {
    display: flex;
    justify-content: space-between;
  }

  .new-name-field {
    width: 100%;
    margin-right: 2%;
  }

  .new-position-field {
    width: 100px;
  }

}
